/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/

/*********************
TYPEKIT
*********************/

@import url("https://use.typekit.net/ckh6kbl.css");

// font stacks
$sans-serif:        "proxima-nova", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$condensed:			"Helvetica Neue Bold Condensed", Helvetica, Arial, sans-serif;